xml/client.dtd

<!ELEMENT socket (client,action,code,status,task*)>
<!ELEMENT client (session_id)>
<!ATTLIST client
login CDATA #REQUIRED
password CDATA #REQUIRED
>
<!ELEMENT session_id (#PCDATA)>
<!ELEMENT action ("avtorization"|"add"|"edit"|"delete"|"view"|"close")>
<!ELEMENT code ("200"|"500")>
<!ELEMENT status ("OK "|"False")>
<!ELEMENT task EMPTY>
<!ATTLIST task
title CDATA #REQUIRED
time CDATA #REQUIRED
start CDATA #REQUIRED
end  CDATA #REQUIRED
interval  CDATA #REQUIRED
active (0|1) #REQUIRED
>